.btnRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
}

.btn {
  background-color: #0ccdcd;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.submitErrorContainer {
  display: flex;
  justify-content: center;
}

.submitError {
  font-size: 0.9rem;
  color: red;
}
