:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body,
#root {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.main-auth {
  width: 100%;
  height: 100%;
  display: flex;
  background: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
}

body {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex: 1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
.page-container {
  flex: 1;
}
.content {
  flex: 1;
  padding: 0;
  border-radius: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: #d6f6f6;
}
.map {
  display: flex;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  height: 100%;
}

.container-main {
  width: 100%;
  height: 100%;
  min-width: 100vw;
  display: flex;
}

.container-main > .MuiBox-root:first-of-type {
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.MuiToolbar-root .MuiTypography-root {
  color: #fff !important;
}

.MuiDrawer-root .MuiPaper-root,
.MuiDrawer-root .MuiListSubheader-root {
  background-color: #035656 !important;
  color: #dcdcdc;
}

.MuiDrawer-root
  a.MuiListItemButton-root.Mui-selected
  .MuiListItemIcon-root
  .MuiSvgIcon-root,
.MuiDrawer-root
  a.MuiListItemButton-root.Mui-selected
  .MuiListItemText-root
  .MuiTypography-root {
  color: #00cfc1 !important;
}

.MuiDrawer-root a.MuiListItemButton-root .MuiListItemIcon-root .MuiSvgIcon-root,
.MuiDrawer-root
  a.MuiListItemButton-root
  .MuiListItemText-root
  .MuiTypography-root {
  color: #dcdcdc !important;
}

header {
  border: none !important;
}
